.subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--heading-primary);
}

.body-bold {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.body-small {
  font-size: 14px;
  line-height: 150%;
  font-weight: normal;
}
