.radio-display {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--radio-range-max-width);
}

/* Line behind radio options */

.radio-display__option {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center start;
  width: 2rem;
  text-align: center;
}

.option__indicator {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--radio-background);
}
